@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<EntityLayer.Concrete.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table  class="table table-hover">
    <thead class=" bg-gradient-danger">
        <tr>
            <th>#</th>
            <th>Kategori Adı</th>
            <th>Aktif Yap</th>
            <th>Pasif Yap</th>
            <th>Düzenle</th>
        </tr>
    </thead>
    <div><tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="bg-gradient-danger"><b>@item.CategoryID</b></td>
                <td>@item.CategoryName</td>
                <td><button class="btn btn-outline-info">Aktif Yap</button></td>
                <td><button class="btn btn-outline-danger">Pasif Yap</button></td>
                <td><button class="btn btn-outline-warning">Düzenle</button></td>

            </tr>
        }
    </tbody></div>

</table>
<br />
<a href="#" class="btn btn-info">Yeni Mesaj Oluştur</a>

@Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index",new { page}))

