@using EntityLayer.Concrete
@model List<Notification>
@{
    ViewData["Title"] = "AllNotification";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Tüm Bildirimler</h4>
                <div class="table-responsive">
                    <table class="table table-hover bg-gradient-danger">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Konu</th>
                                <th>Bildirim</th>
                                <th>Gönderilme Zamanı</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.NotificationID</td>
                                    <td  class="bg-gradient-info"> @item.NotificationType </td>
                                    <td> @item.NotificationDetails </td>
                                    <td>
                                        <label class="badge badge-gradient-success">@(((DateTime) item.NotificationDate).ToString("dd.MM.yyyy-HH:mm"))</label>     
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

